NODE_ENV=development

POSTGRES_DB=reduc_to_dev
POSTGRES_USER=reduc_to
POSTGRES_PASSWORD=reduc_to_dev_password
POSTGRES_PORT=5432
DATABASE_URL=postgresql://reduc_to:reduc_to_dev_password@localhost:5432/reduc_to_dev

REDIS_PORT=6379
REDIS_URL=redis://localhost:6379

API_PORT=3000
